body{
  background: rgb(114, 57, 41);
  margin: 5px;
  font-family: arial;
}

lighted{
  color: rgb(62, 224, 207);
  font-family: arial;
}

h1 {
  color: rgb(62, 224, 207);
  text-align: center;
  font-size: 40px;
}

.mypara {
  color: rgb(62, 224, 207);
  font-family: sans-serif;
  font-size: 75px;
}
